.topup-list-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.topup-list-sidenav-content {
    /* display: flex; */
    height: 100%;
    align-items: center;
    /* justify-content: center; */
}

.topup-list-sidenav {
    /* padding: 100px; */
    height: 100%;
    width: 16cm;
    
}