

<mat-drawer-container class="topup-list-container" autosize>

  <mat-drawer #drawer class="topup-list-sidenav" mode="side" >

    <!-- Customer Phone Numbers Dashboard -->
    <app-mobile-dashboard ></app-mobile-dashboard>
    
    <!-- <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->

    
  </mat-drawer>

  <div class="topup-list-sidenav-content">
    <button type="button" mat-raised-button (click)="drawer.toggle(); chSide = !chSide; " >
      <i *ngIf="!chSide" class="material-icons">arrow_left</i> 
      <i *ngIf="chSide" class="material-icons">arrow_right</i>
      Customer Phone Numbers
    </button>

    <p>Topup-list work!</p>
    

    <form class="" #myForm="ngForm">
      
      <mat-form-field hintLabel="{{pnFormat}}">
        <input 
        type="text" matInput
        placeholder="{{lbpncus.numberid}}"
        [(ngModel)]="selePninput.numberid" 
        
        id="numberid" name="numberid" 
        #numberid="ngModel"
        [ngModelOptions]="{ updateOn: 'change' }"
        (keyup)="onKey()"
        maxlength="10"
        required 
          >
        <mat-hint align="end">{{numberid.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <br>
    </form>

  </div>
  
</mat-drawer-container>