// @import "../styles/loading.scss";
// @import "../styles/firestarter.scss";

.example-container {
    padding: 1rem;
}

.example-wrapper {
    margin-bottom: 1rem;
}

.example-input-wrapper {
    display: block;
    width: 200px;
    margin-bottom: 1.5rem;
}

