
<div class="columns" >
    <div class="column is-4">  

      <p>เบอร์ลูกค้า</p>

      <form class="" #myForm="ngForm">
      
        <mat-form-field hintLabel="{{pnFormat}}">
          <input 
          type="text" matInput
          placeholder="{{lbpncus.numberid}}"
          [(ngModel)]="newPn.numberid" 
          id="numberid" name="numberid" 
          #numberid="ngModel"
          [ngModelOptions]="{ updateOn: 'change' }"
          (keyup)="onKey()"
          maxlength="10"
          required 
            >
          <mat-hint align="end">{{numberid.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
        <br>
    
        <mat-form-field>
          <input 
          type="text" matInput
          placeholder="{{lbpncus.name}}"
          [(ngModel)]="newPn.name" 
          id="name" name="name" 
          #name="ngModel"
          [ngModelOptions]="{ updateOn: 'change' }"
            >
        </mat-form-field>
        <br>
        
        <mat-form-field class="">
          <input 
          type="text" matInput
          placeholder="{{lbpncus.telnet}}" 
          [(ngModel)]="newPn.telnet" 
          id="telnet" name="telnet"          

          aria-label="Number"  [formControl]="myControl" [matAutocomplete]="auto"
            >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <br>
        <button mat-raised-button
          [disabled]="! ( myForm.form.valid &&( numberid.value?.length > 9)) " 
          (click)="submitForm()"
          > {{lbpncus.addPn}}</button>
    
      </form>

      <!-- <div *ngIf="newPn.numberid ">
        <p>{{newPn | json}} </p>
      </div> -->

    </div>
    <br>

    <div class="column is-8" >
      <app-mobile-search></app-mobile-search>
    </div>

</div>

